extends layout.pug 

block content
  form( method="post")
    input#1(type="text", name="")
    textarea#2(name="", cols="30", rows="10")
    input#3(type="number", name="")
    input#3(type="number", name="")
    input#3(type="number", name="")
    textarea#4(name="", cols="30", rows="10")
    button(type="submit") Crear publicacion
    button(type="submit") Cancelar



 

